@using CarDealership.Models.ViewModels.Errors

@model ErrorViewModel

<h1 class="text-center">An error occured</h1>
<hr class="hr-style" />
<h2 class="text-center">@Model.Message</h2>

<div class="text-center">
    <a asp-area="Administration" asp-controller="News" asp-action="Create">Back to create News menu.</a>
</div>