@using CarDealership.Models.ViewModels.Adds.CarAdds
@model List<ViewCarAddsViewModel>

<h1 class="text-center">View car adds</h1>
<hr class="hr-style" />
@if (!Model.Any())
{
    <h2 class="text-center">There are no cars with your preferences</h2>
    <h4 class="text-center">
        <a asp-controller="CarAdds" asp-action="Search">Go back to search for another car.</a>
    </h4>
}
else
{
    <div class="card-columns">
        @foreach (var carAdd in Model)
        {
            <div class="card border border-dark border-0">
                <img class="card-img-top" height="270" width="200" src="@carAdd.PictureUrl">
                <div class="card-body">
                    <h5 class="card-title">@carAdd.Title</h5>
                    <p class="card-text">@carAdd.AdditionalInfoToDisplay</p>
                </div>
                <form asp-controller="CarAdds" asp-action="ViewAdd" method="post">
                    <input class="addId" name="addId" id="addId" value="@carAdd.Id" hidden />
                    <div class="col-12 text-center">
                        <button style="margin-bottom: 2%" type="submit" class="btn btn-dark">View add</button>
                    </div>
                </form>
            </div>
        }
    </div>
}